<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <clear />
    <add name="cosmosKey"
     providerName="System.Data.ProviderName"
     connectionString="ONJvmvRy4nNUJMGbfS0acEc0ng4h4WpmlwRReFAioq9F1TggzwujWa9NfNg29HlTIMIL7ZQnukJsQLfpP2hvtQ==" />
    <add name="cosmosContainer"
     providerName="System.Data.ProviderName"
     connectionString="librarybox" />
    <add name="cosmosDatabase"
     providerName="System.Data.ProviderName"
     connectionString="librarybox" />
    <add name="cosmosEndpointUri"
     providerName="System.Data.ProviderName"
     connectionString="https://librarybox.documents.azure.com:443/" />
  </connectionStrings>
</configuration>