@page "/"
@inherits IndexBase

<h1>Library Boxes!</h1>



@if (AllBooks != null)
{
    @foreach(var item in AllBooks)
                {
                    @item
        <MudDivider/>
                }

    <MudGrid>
        <MudItem xs="12" Style="height:900px">
            <RadzenGoogleMap Zoom=16 Center=@(new GoogleMapPosition() { Lat = 30.463961406970004, Lng = -97.77925868219474 }) MarkerClick="@OnMarkerClick" ApiKey="@googleMapsApiKey">
                <Markers>
                    <RadzenGoogleMapMarker Title="13300 Wisterwood St." Label="13300 Wisterwood St." Position=@(new GoogleMapPosition() { Lat = 30.463961406970004, Lng = -97.77925868219474}) />

                </Markers>
            </RadzenGoogleMap>
        </MudItem>
    </MudGrid>
}




